<h1>New division</h1>
<form action="/wizard_divide">
  <div>
    <label for="zebra">Divide this:</label>
    <input id="zebra" name="first_num">
  </div>

  <div>
    <label for="giraffe">by this:</label>
    <input id="giraffe" name="second_num">
  </div>

  <button>
    Divide!
  </button>
</form>