

<h1>New subtraction</h1>
<form action="/wizard_subtract">
  <div>
    <label for="zebra">Subtract this:</label>
    <input id="zebra" name="first_num">
  </div>

  <div>
    <label for="giraffe">from this:</label>
    <input id="giraffe" name="second_num">
  </div>

  <button>
    Subtract!
  </button>
</form>