<h1>New multiplication</h1>
<form action="/wizard_multiply">
  <div>
    <label for="zebra">Multiply this:</label>
    <input id="zebra" name="first_num">
  </div>

  <div>
    <label for="giraffe">by this:</label>
    <input id="giraffe" name="second_num">
  </div>

  <button>
    Multiply!
  </button>
</form>